.nav-link {
    position: relative;
    color: #178582 !important;
}

.hero {
    padding: 20px;
}


.nav-link::after {
    transition: all 0.2s;
    content: "";
    opacity: 0;
    height: 3px;
    width: 100%;
    background-color: #BFA181 !important;
    position: absolute;
    bottom: 0;
    left: 0;
}



.nav-link:hover::after {

    opacity: 1;


}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://img.freepik.com/free-photo/no-people-office-with-multiple-computers-customer-service-desk-call-center-helpline-support-give-telecommunication-assistance-empty-helpdesk-with-client-telephony-reception_482257-44009.jpg?t=st=1712989195~exp=1712992795~hmac=39cc63247fde1881ad1e8a2025ed4883fbef48c67fc54435423ba859346cd0db&w=740)no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.page-caption {
    padding-top: 170px;
    padding-bottom: 300px;
}

.page-title {

    line-height: 1;
    color: white;

    text-align: center;
}

.card-section {
    position: relative;
    bottom: 100px;

}

.card-block {
    padding: 80px;
    background-color: #0A1828;
    color: #BFA181;
}

.carser {
    background-color: #0A1828 !important;
    color: #BFA181 !important;

}






h1 {

    color: black;
}

p {
    color: DimGrey;
}

.padding {
    padding: 80px 0;
}

.about_section {
    transform: translateY(-150px);
}

.about_section .about_img img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 16px 28px 0 rgba(8, 56, 103, .5);
}

@media (min-width:992px) {
    .about_section .about_img img {
        width: 60%;
    }

    .about_section .about_img_2 {
        margin: -150px 0 0 200px;
    }

    .about_section .about_img_3 {
        margin: -100px 0 0 40px;
    }
}

@media(max-width:991px) {
    .about_section .about_img {
        margin: 2rem;
    }

    .about_section .about_img img {
        width: 60%;
    }

    .about_section .about_img_2 {
        margin: -110px 0 0 150px;
    }

    .about_section .about_img_3 {
        margin: -100px 0 0 40px;
    }
}

.about_section .content {
    background-color: white;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.overlapped {
    position: relative !important;
    /* transform: translate(-100px, 80px); */
    background-color: #fff !important;
    height: 325px !important;
    width: 300px !important;
    display: flex !important;
    font-size: 5px !important;
    flex-wrap: nowrap !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

@media(max-width:700px) {
    .overlapped {
        position: relative !important;
        /* transform: translate(-100px, 80px); */
        background-color: #fff !important;
        height: 250px !important;
        width: 300px !important;
        display: flex !important;
        font-size: 5px !important;
        flex-wrap: nowrap !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    }

}


.card1 {
    border: none !important;
}

.carover {
    margin-bottom: 100px !important;
    transform: translateY(-50px)
}

.abtover {
    transform: translateY(-100px);
}

@media (max-width:678px) {
    .overlapped {
        transform: translate(80px, -100px);
    }
}

@media (min-width:991px) {
    .overlapped {
        transform: translate(-100px, 80px);
    }
}

@media (max-width:800px) {
    .abt {
        transform: translateY(-150px);
    }
}

/* img {
    max-width: 100%;
    height: auto;
} */

/* section {
    padding: 60px 0;
    /* min-height: 100vh;*/



*/ ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-area {
    border-bottom: 1px solid #353C46;
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social>ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid #eceef1;
    color: #eceef1;
    background-color: #178582;
}


footer {
    background: #1A1E25;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

.portfolio-section {
    padding: 50px 0;
    background-color: #0A1828;
}

.portfolio-section h2 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.portfolio-menu {
    text-align: center;
}

.control {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #343a40;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -moz-transition: all 05s ease;
    -ms-transition: all 05s ease;
    -o-transition: all 05s ease;
    transition: all 0.5s ease;
}

.control:hover {
    background: #343a40;
}

.mixitup-control-active {
    color: #fff;
    background: #343a40;
}

.fancybox-container button:focus {
    outline: 0;
    box-shadow: none;
}

.portfolio-item {
    padding-top: 30px;
}

.pd {
    padding: 0;
    padding: 10px;
}

.pd img {
    height: 180px;
    transition: all 0.5s;
}

.portfolio-overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;
    transition: all 0.5s;
    transform: scale(0);
}

.portfolio-overlay p,
.portfolio-overlay a {
    position: relative;
    z-index: 4;
}

.portfolio-overlay::before {
    content: "";
    width: 0;
    height: 0;
    border-width: 0;
    position: absolute;
    left: 10%;
    top: 10%;
    transition: 50ms height ease 150ms;
    z-index: 3;
}

.portfolio-overlay::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 0;
    position: absolute;
    right: 10%;
    bottom: 10%;
    transition: 100ms width ease 200ms;
    z-index: 3;
}

.portfolio-item:hover .portfolio-overlay::before {
    width: 80%;
    height: 80%;
    border-top: 1px solid #50977f;
    border-right: 1px solid #50977f;
    transition: width 0.1s ease 0.3s, height 0.1s ease 0.5s;
}

.portfolio-item:hover .portfolio-overlay::after {
    width: 80%;
    height: 80%;
    border-bottom: 1px solid #50977f;
    border-left: 1px solid #50977f;
    transition: width 0.1s ease 0.6s, height 0.1s ease 0.7s;
}

.portfolio-item li:hover .portfolio-overlay {
    visibility: visible;
    transform: scale(1);
}

.portfolio-overlay .category {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.portfolio-overlay .magnify-icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #50977f;
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.25s;
}

.portfolio-overlay .magnify-icon:hover {
    background: #000;
}

.portfolio-overlay .magnify-icon p span i {
    font-size: 15px;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
}